@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --bg-color: hsl(233, 47%, 7%);
  --card-color: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --cover: hsla(277, 64%, 31%, 0.6);

  --title: hsl(0, 0%, 100%);
  --text: hsla(0, 0%, 100%, 0.75);
  --stat: hsla(0, 0%, 100%, 0.6);

  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
}

.card {
  min-width: 250px;
  background-color: var(--card-color);
  margin: 0 1.5rem;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.card__cover {
  position: relative;
  margin-bottom: 0.5rem;
}

.card__cover::before {
  position: absolute;
  content: "";
  left: 0;

  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--cover);
}

.card__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  display: block;
}

.card__main {
  padding: 2rem 2rem 1rem;
}
.card__title {
  color: var(--title);
  font-size: 1.8rem;
  font-weight: 700;
  /* padding: 0 2rem; */
}

.card__title span {
  color: var(--accent);
}

.card__text {
  color: var(--text);
  margin-top: 1rem;
  line-height: 1.7;
}

ul {
  margin-bottom: 2.5rem;
}

ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  color: var(--title);
  font-size: 1.5rem;
  font-weight: 700;
}

ul li span {
  text-transform: uppercase;
  color: var(--text);
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

@media (min-width: 600px) {
  .card__title {
    font-size: 2.5rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media (min-width: 750px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .card__main {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 4rem 4rem 0;
  }

  .card__title {
    text-align: left;
  }

  .card__text {
    text-align: left;
    letter-spacing: 0.4px;
    margin-bottom: 4rem;
  }

  .card__cover {
    width: 50%;
    height: auto;
    margin-bottom: 0;
  }

  .card_cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  ul {
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .card {
    max-width: 1100px;
  }

  .card__text {
    padding-right: 4rem;
  }

  ul {
    padding-right: 4rem;
  }
}
